.btn {
  display: inline-block;
  padding: 2rem 5rem;
  font-size: 2rem;
  border: 2px solid transparent;
  background: transparent;
  text-align: center;
  cursor: pointer;
  color: $btn-color;
  line-height: 1.2;
  outline: none;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  border-radius: $btn-radius;
  position: relative;
  font-weight: 500;
  width: auto;
  transition: all .3s;

  &:active {
    transform: translateY(-.3rem);
  }

  /* --- Buttons Types --- */
  &--primary {
    color: $btn-primary-color;
    background: $btn-primary-bg;

    &:hover {
      background: $btn-primary-hover;
    }

    &-reverse {
      color: $btn-primary-bg;
      // background: $btn-primary-color;
      border-color: $btn-primary-bg;

      &:hover {
        color: $btn-primary-color;
        background: $btn-primary-bg;
        border-color: $btn-primary-bg;
      }
    }
  }

  &--secondary {
    color: $btn-secondary-color;
    background: $btn-secondary-bg;

    &:hover {
      background: $btn-secondary-hover;
    }

    &-reverse {
      color: $btn-secondary-bg;
      // background: $btn-secondary-color;
      border-color: $btn-secondary-bg;

      &:hover {
        color: $btn-secondary-color;
        background: $btn-secondary-bg;
        border-color: $btn-secondary-bg;
      }
    }
  }

  &--tertiary {
    color: $btn-tertiary-color;
    background: $btn-tertiary-bg;

    &:hover {
      background: $btn-tertiary-hover;
    }

    &-reverse {
      color: $btn-tertiary-bg;
      // background: $btn-tertiary-color;
      border-color: $btn-tertiary-bg;

      &:hover {
        color: $btn-tertiary-color;
        background: $btn-tertiary-bg;
        border-color: $btn-tertiary-bg;
      }
    }
  }

  &--gray {
    background: $btn-gray-bg;
    color: $btn-gray-color;

    &:hover {
      background: $btn-gray-hover;
    }

    &-reverse {
      color: $btn-gray-bg;
      // background: $btn-gray-color;
      border-color: $btn-gray-bg;

      &:hover {
        color: $btn-gray-color;
        background: $btn-gray-bg;
        border-color: $btn-gray-bg;
      }
    }
  }
  
  // Btn Statusses
  &--danger {
    background: $btn-danger-bg;
    color: $btn-danger-color;

    &:hover {
      background: $btn-danger-hover;
    }

    &-reverse {
      color: $btn-danger-bg;
      // background: $btn-danger-color;
      border-color: $btn-danger-bg;

      &:hover {
        color: $btn-danger-color;
        background: $btn-danger-bg;
        border-color: $btn-danger-bg;
      }
    }
  }

  &--grad {
    background: $btn-grad-bg;
    color: $btn-grad-color;
    transition: none;
    background-origin: border-box;

    &:hover {
      background: $btn-grad-hover;
    }
  }

  /* --- Buttons Animated --- */
  &--animated {
    z-index: 1;
    
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: $btn-radius;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .3s;
      background: inherit;
    }

    &:hover {
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
  /* --- Buttons Animated --- */
  /* --- Buttons Types --- */

  /* --- Buttons Sizes --- */
  &--xs {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }

  &--sm {
    font-size: 1.8rem;
    padding: 1.4rem 3rem;
  }

  &--md {} // default state

  &--lg {
    font-size: 2.2rem;
    padding: 2.5rem 7rem;
  }

  &--xg {
    font-size: 2.4rem;
    padding: 3rem 8rem;
  }
  /* --- Buttons Sizes --- */

  /* --- Buttons Icon --- */
  &__icon {
    fill: $btn-icon-fill-color;
    color: $btn-icon-fill-color;
    max-width: 1.5rem;
    max-height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
  }
  /* --- Buttons Icon --- */

  /* --- Disabled state --- */
  &[disabled] {
    opacity: .7;
    cursor: default;
    filter: grayscale(50%);
  }
  /* --- Disabled state --- */
}