.create-card {
  $self: &;

  &__main-card {
    transform: translateY(-50%);
    margin-top: -4rem;

    @media (max-width: $md--mw) {
      transform: none;
      margin-top: -14rem;
      margin-bottom: 4rem;

      .jp-card-container {
        transform: none !important;
      }
    }

    .jp-card-number {
      white-space: nowrap;
    }

    .jp-card .jp-card-front .jp-card-lower {
      left: 8%;
    }

    @media (max-width: 400px) {
      .jp-card {
        min-width: 100%;
      }

      .jp-card-number {
        white-space: normal;
      }
    }
  }

  &__label {

  }

  &__field {
    max-width: 35rem;
    margin: 0 auto 2rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:focus-within {
      #{$self}__label {
        left: 1rem;
      }
    }
  }

  &__input {
    text-transform: uppercase;
    background: $white;
    border: 1px solid $gray--medium;

    &:not(:placeholder-shown) {
      + #{$self}__label {
        left: 1rem;
        background: $white;
      }
    }

    &.no-support-placeholder-shown:not(.placeholder-shown) {
      + #{$self}__label {
        left: 1rem;
        background: $white;
      }
    }
  }
}

.main-heading--create-card {
  margin-bottom: 21rem;

  @media (max-width: $lg--mw) {
    margin-bottom: 23rem;
  }

  @media (max-width: $md--mw) {
    margin-bottom: 16rem;
  }
}