.params {
  line-height: 1.3;
  color: #526070;

  &__wrap {
    @media (min-width: $sm) {
      display: flex;
      align-items: flex-start;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  &__property {
    @media (min-width: $sm) {
      flex-basis: 24rem;
      max-width: 24rem;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translate(1rem, -.5rem);
        border-bottom: 1px dotted $gray--medium;
      }
    }

    @media (min-width: $md) {
      flex-basis: 28rem;
      max-width: 28rem;
    }
  }
  
  &__value {
    font-weight: 500;

    @media (min-width: $sm) {
      padding-left: 1rem;
    }
  }
}

.gift-params {
  margin-bottom: 3rem;

  &__address {
    max-width: 29rem;
    line-height: 1.4;
  }
}