// user-authorized
+b.DIV.user-authorized.js-dropdown-toggle
  +e.user
    +e.user-avatar
      +e.IMG.user-avatar-img(src="assets/images/media/ava.png" alt="User Avatar" width="55" height="55")
    +e.user-name Hello, 
      +e.SPAN.user-name-text Alexandra
    +e.I.user-icon.fas.fa-chevron-down
  +e.body.js-dropdown
    +e.NAV.nav
      +e.UL.list
        +e.LI.item
          +e.A.link(href="#") 
            +icon('user', 'user-authorized__icon')
            +e.SPAN.text Your Profile
        +e.LI.item
          +e.A.link(href="#") 
            +icon('search', 'user-authorized__icon')
            +e.SPAN.text Quick search
        +e.LI.item
          +e.A.link(href="#") 
            +icon('padlock', 'user-authorized__icon')
            +e.SPAN.text Change password
        +e.LI.item
          +e.A.link(href="#") 
            +icon('pay', 'user-authorized__icon')
            +e.SPAN.text Payment options
        +e.LI.item
          +e.A.link(href="#") 
            +icon('logout', 'user-authorized__icon')
            +e.SPAN.text Log Out
// user-authorized