extends templates/main

block variables
  - const title = 'Main page';
  - const pageClass = 'index-page';
  - const logoIndex = true;

block content
  .container-fluid
    main.content

  .container-fluid

