extends templates/main

block variables
  - const title = 'Payment Options';
  - const pageClass = 'payment-options-page';

block content
  .main-heading-wrap
    .main-heading.main-heading--user-pic
      .main-heading__body #[span.main-heading__first-letter P]ayment #[span.main-heading__accent options]

  .container-fluid
    main.primary-content