extends templates/main

block variables
  - const title = 'Payment Options';
  - const pageClass = 'payment-options-page';

block content
  .main-heading-wrap
    .main-heading
      .main-heading__body #[span.main-heading__first-letter P]ayment #[span.main-heading__accent options]

  .container-fluid
    main.primary-content

      .fast-search.fast-search--gaps.add-card

        .secondary-heading.text-center Choose a card for payment

        .fast-search__section

          .row

            .col-sm-6.col-md-4

              .add-card__radio-opt.radio-opt.active
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-1" id="card-type-1" checked tabindex="7")
                  label.radio-label__main(for="card-type-1")
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/master-card.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 6967]
                    span.add-card__expire Exp: 06/20
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]
            
            .col-sm-6.col-md-4
                  
              .add-card__radio-opt.radio-opt
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-2" id="card-type-2" tabindex="8")
                  label.radio-label__main(for="card-type-2") 
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/visa.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 0008]
                    span.add-card__expire Exp: 12/24
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]

            .col-sm-6.col-md-4

              .add-card__radio-opt.radio-opt.active
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-3" id="card-type-3" checked tabindex="7")
                  label.radio-label__main(for="card-type-3")
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/master-card.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 6967]
                    span.add-card__expire Exp: 06/20
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]
            
            .col-sm-6.col-md-4
                  
              .add-card__radio-opt.radio-opt
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-4" id="card-type-4" tabindex="8")
                  label.radio-label__main(for="card-type-4") 
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/visa.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 0008]
                    span.add-card__expire Exp: 12/24
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]

            .col-sm-6.col-md-4

              .add-card__radio-opt.radio-opt.active
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-5" id="card-type-5" checked tabindex="7")
                  label.radio-label__main(for="card-type-5")
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/master-card.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 6967]
                    span.add-card__expire Exp: 06/20
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]
            
            .col-sm-6.col-md-4
                  
              .add-card__radio-opt.radio-opt
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-6" id="card-type-6" tabindex="8")
                  label.radio-label__main(for="card-type-6") 
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/visa.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 0008]
                    span.add-card__expire Exp: 12/24
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]

            .col-sm-6.col-md-4

              .add-card__radio-opt.radio-opt.active
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-7" id="card-type-7" checked tabindex="7")
                  label.radio-label__main(for="card-type-7")
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/master-card.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 6967]
                    span.add-card__expire Exp: 06/20
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]
            
            .col-sm-6.col-md-4
                  
              .add-card__radio-opt.radio-opt
                .add-card__radio.radio-label
                  input.radio-label__input(type="radio" name="card-type" value="card-type-8" id="card-type-8" tabindex="8")
                  label.radio-label__main(for="card-type-8") 
                    span.add-card__radio-img-wrap
                      img.add-card__radio-img(src="assets/images/visa.png" alt="" width="55" height="40")
                    span.add-card__number #[span · · · ·] #[span · · · ·] #[span · · · ·] #[span 0008]
                    span.add-card__expire Exp: 12/24
                  .add-card__controls
                    a.add-card__edit(href="#") #[i.fas.fa-pencil-alt] #[span Edit]
                    a.add-card__remove(href="#") #[i.fa.fa-trash-alt] #[span Delete]

            .col-sm-6.col-md-4

              a.add-card__btn(href="")
                figure.add-card__figure
                  .add-card__icon
                  figcaption.add-card__figcaption Add Card

        .fast-search__summary
          .fast-search__checkbox.checkbox-label
            input.checkbox-label__input(type="checkbox" name="privacy" checked id="privacy" tabindex="13")
            label.checkbox-label__main(for="privacy") I accept the terms and conditions
          button.fast-search__submit-btn.btn.btn--grad.btn--animated(type="submit" name="confirm-data") Save Choice