extends templates/main

block variables
  - const title = 'Your new password is';
  - const pageClass = 'forms-page';

block header
  header.header.header--cropped
    +logo()

block content
  // forms-area
  section.forms-area
    .forms-area__body
      .forms-area__heading.secondary-heading #{title}
      .forms-area__new-password cx4ueY^G51jo
      a.forms-area__btn.btn.btn--primary-reverse.btn--sm(href="#") Copy #[i.fa.fa-copy]
  // /forms-area