extends templates/main

block variables
  - const title = 'User Agreement';
  - const pageClass = 'post-page';

block content
  .main-heading-wrap
    .main-heading
      .main-heading__body #[span.main-heading__first-letter U]ser #[span.main-heading__accent agreement]

  .container-fluid
    main.content
      // post content
      article.post-entry
        p #[strong This user agreement will be effective on January 1, 2020.]

        .text-center
          .tertiary-heading Welcome to GogoGivit!

        p This user agreement is a contract between you and GogoGivit, Inc. governing your use of your GogoGivit account and GogoGivit services. 

        p You agree to comply with all of the terms and conditions in this user agreement. The terms include an agreement to resolve disputes by arbitration on an individual basis. You also agree to comply with the following additional policies that apply to you:
        
        ul
          li Privacy Policy

        p We may revise this user agreement and any of the policies listed above from time to time. The revised version will be effective at the time we post it, unless otherwise noted. We reserve the right to amend this agreement at any time without notice, subject to applicable law. By continuing to use our services after any changes to this user agreement become effective, you agree to abide and be bound by those changes. If you do not agree with any changes to this user agreement, you may close your account.

        .secondary-heading Opening a GogoGivit Account

        p You may only have one personal GogoGivit account. To create a GogoGivit account, you must be a resident of the United States or one of its territories, and be at least 16 years old or the age of majority in your state of residence. Your GogoGivit account is a personal account unless you have received our express written approval to open a business account. 
   
        p GogoGivit accounts let you do things like:

        ul
          li Track occasions of friends
          li Maintain friend contact info and details
          li Buy things through an authorized merchant’s mobile website or app
                  
        p Keep confidential any credentials you use to access your GogoGivit account and GogoGivit services. You must keep your phone number, email address and other contact information current in your GogoGivit account profile.

        .secondary-heading Closing Your GogoGivit Account

        p You may close your account and terminate your relationship with us without cost, but you will remain liable for all obligations related to your GogoGivit account even after the GogoGivit account is closed. Any incomplete transactions must be completed or canceled before closing it.

        p You can link or unlink a debit card, credit card, or a U.S. bank account to your GogoGivit account as a payment method. Please keep your payment method information current (e.g. credit card number and expiration date). 

        .secondary-heading Fees and limits

        p When you buy something from an authorized merchant you don’t pay a fee to GogoGivit.

        p We may, at our discretion, impose limits on the amount or the number of purchases you can make. Fees and limits may change from time to time in our sole discretion.

        .secondary-heading Billing agreement payments and preauthorized payments

        p You’ll honor your payment obligations and you are okay with us storing your payment information. You understand that there may be fees and taxes added to quoted prices.
        
        ul
          li We may store and continue billing your payment method (e.g. credit card) even after it has expired, to avoid interruptions in your Services and to use to pay other Services you may buy.
          li If you setup a subscription (recurring purchase or pre-authorized payment, your payment method automatically will be charged at the occurrence of each subscription period for the fees and taxes applicable to that purchase. To avoid future charges, cancel before the purchase date.

        p “Preauthorized payments” are a type of billing agreement that allow an authorized merchant to receive payments from your GogoGivit account on a regularly recurring basis (for example, every year or otherwise on a routine billing cycle).  You may cancel a billing agreement by reaching out to the authorized merchant directly.  You may cancel a preauthorized payment up to 3 Business Days before the next scheduled payment. 

        .secondary-heading Refunds

        p Refunds are subject to the policy of the authorized fulfilling merchant.

        .secondary-heading Restricted Activities

        p In connection with your use of our websites, your GogoGivit account, and GogoGivit services, or in the course of your interactions with us, other customers, or third parties, you must not:

        ul
          li Breach this user agreement, or any other agreement between you and us;
          li Violate any law, statute, ordinance, or regulation (for example, those governing financial services, consumer protections, unfair competition, anti-discrimination or false advertising);
          li Infringe our or any third party's copyright, patent, trademark, trade secret or other intellectual property rights, or rights of publicity or privacy;
          li Create or control more than one personal account for yourself without our express authorization, though, among other methods, using a name that is not yours, using a temporary email address or phone number, or providing any other falsified personal information;
          li Act in a manner that is defamatory, trade libelous, threatening or harassing;
          li Provide false, inaccurate or misleading information;
          li Refuse to cooperate in an investigation or provide confirmation of your identity or any information you provide to us;
          li Attempt to double dip during the course of a dispute by receiving or attempting to receive money from both us and the recipient of a payment, bank or card issuer for the same transaction;
          li Use the GogoGivit services in a manner that results in or may result in:
          li complaints;
          li disputes; claims, reversals, chargebacks,
          li fees, fines, penalties or other liability or losses to GogoGivit, other customers, third parties or you;
          li Have any amounts owed to us;
          li Take any action that imposes an unreasonable or disproportionately large load on our websites, software, systems (including any networks and servers used to provide any of the GogoGivit services) operated by us or on our behalf or the GogoGivit services;
          li Facilitate any viruses, trojan horses, malware, worms or other computer programming routines that attempts to or may damage, disrupt, corrupt, misuse, detrimentally interfere with, surreptitiously intercept or expropriate, or gain unauthorized access to any system, data, information or GogoGivit services;
          li Use an anonymizing proxy; use any robot, spider, other automatic device, or manual process to monitor or copy our websites without our prior written permission; or use any device, software or routine to bypass our robot exclusion headers;
          li Interfere or disrupt or attempt to interfere with or disrupt our websites, software, systems (including any networks and servers used to provide any of the GogoGivit services) operated by us or on our behalf, any of the GogoGivit services or other users’ use of any of the GogoGivit services;
          li Take any action that may cause us to lose any of the services from our Internet service providers, payment processors, or other suppliers or service providers;
          li Circumvent any of our policies or determinations about your GogoGivit account such as temporary or indefinite suspensions or other account holds, limitations or restrictions, including, but not limited to, engaging in the following actions: attempting to open new or additional GogoGivit account(s) when you have amounts owed to us or when your GogoGivit account has been restricted, suspended or otherwise limited; opening new or additional GogoGivit accounts using information that is not your own (e.g. name, address, email address, etc.); or using someone else’s GogoGivit account; or
          li Harass and/or threaten our employees, agents, or other users.

        .secondary-heading Actions We May Take if You Engage in Any Restricted Activities

        p If we believe that you’ve engaged in any of these activities, we may take a number of actions to protect ourselves, our customers and others at any time in our sole discretion. The actions we make take include, but are not limited to, the following:

        ul
          li Terminate this user agreement, limit your GogoGivit account, and/or close or suspend your GogoGivit account
          li Refuse to provide GogoGivit services to you in the future;
          li Limit your access to our websites, software, systems (including any networks and servers used to provide any of the GogoGivit services) operated by us or on our behalf, your GogoGivit account or any of the GogoGivit services.
          li Update inaccurate information you provided us;
          li Take legal action against you; or
          li If you’ve violated our Acceptable Use Policy, then you’re also responsible for damages to us caused by your violation of this policy.
                    
        p You are responsible for all reversals, chargebacks, claims, fees, fines, penalties and other liability incurred by us, any customer, or a third party caused by or arising out of your breach of this agreement, and/or your use of the GogoGivit services. For example, if you send a payment funded by your bank account and your bank informs us you do not have sufficient funds to cover the payment, you may be liable for the payment. Similarly, if you receive a payment and the payment is disputed, you may be liable for the payment.

        .secondary-heading Account Limitations

        p Limitations are implemented to help protect GogoGivit and GogoGivit users when we notice restricted activities or activity that appears to us as unusual or suspicious. Limitations also help us collect information necessary for keeping your GogoGivit account open.

        p There are several reasons why your GogoGivit account could be limited, including:

        ul
          li If we suspect someone could be using your GogoGivit account without your knowledge, we’ll limit it for your protection and look into the unusual activity.
          li If another financial institution alerts us that someone has used one of your linked payment methods without permission.
          li In order to comply with the law.
          li If we reasonably believe you have breached this agreement or violated the Acceptable Use Policy.
                    
        p You will need to resolve any issues with your account before a limitation can be removed. Normally, this is done after you provide us with the information we request. However, if we reasonably believe a risk still exists after you have provided us that information, we may take action to protect us, our users, a third party, or you from reversals, fees, fines, penalties, legal and/or regulatory risks and any other liability.

        .secondary-heading No Warranty

        p This is our disclaimer of legal liability for the quality, safety, or reliability of our Services.

        blockquote GOGOGIVIT AND ITS AFFILIATES MAKE NO REPRESENTATION OR WARRANTY ABOUT THE SERVICES, INCLUDING ANY REPRESENTATION THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, AND PROVIDE THE SERVICES (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW, GOGOGIVIT AND ITS AFFILIATES DISCLAIM ANY IMPLIED OR STATUTORY WARRANTY, INCLUDING ANY IMPLIED WARRANTY OF TITLE, ACCURACY OF DATA, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.

        .secondary-heading Other Content, Sites and Apps

        p Your use of others’ content and information posted on our Services, is at your own risk.

        p Others may offer their own products and services through our Services, and we aren’t responsible for those third-party activities.

        p By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. GogoGivit generally does not review content provided by our Members or others. You agree that we are not responsible for others’ (including other Members’) content or information. We cannot always prevent this misuse of our Services, and you agree that we are not responsible for any such misuse. You also acknowledge the risk that you or your organization may be mistakenly associated with content about others when we let connections and followers know you or your organization were mentioned in the news. Members have choices about this feature.

        .secondary-heading Limits

        p We have the right to limit how you connect and interact on our Services.

        p GogoGivit reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members. GogoGivit reserves the right to restrict, suspend, or terminate your account if you breach this Contract or the law or are misusing the Services (e.g., violating any of the Dos and Don’ts or Professional Community Policies).

        .secondary-heading Intellectual Property Rights

        p We’re providing you notice about our intellectual property rights.

        p GogoGivit reserves all of its intellectual property rights in the Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. GogoGivit logos and other trademarks, service marks, graphics and logos used for our Services are trademarks or registered trademarks of GogoGivit.

        .secondary-heading Automated Processing

        p We use data and information about you to make relevant suggestions to you and others.

        p We use the information and data that you provide and that we have about Members to make recommendations for connections, content and features that may be useful to you. For example, we use data and information about you to recommend gifts to you and other users. Keeping your profile accurate and up to date helps us to make these recommendations more accurate and relevant.

        .secondary-heading Exclusion of Liability

        p These are the limits of legal liability we may have to you.
        
        blockquote TO THE FULLEST EXTENT PERMITTED BY LAW (AND UNLESS GOGOGIVIT HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), GOGOGIVIT, INCLUDING ITS AFFILIATES, WILL NOT BE LIABLE IN CONNECTION WITH THIS CONTRACT FOR LOST PROFITS OR LOST BUSINESS OPPORTUNITIES, REPUTATION (E.G., OFFENSIVE OR DEFAMATORY STATEMENTS), LOSS OF DATA (E.G., DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT) OR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR PUNITIVE DAMAGES.

        blockquote GOGOGIVIT AND ITS AFFILIATES WILL NOT BE LIABLE TO YOU IN CONNECTION WITH THIS CONTRACT FOR ANY AMOUNT THAT EXCEEDS (A) THE TOTAL FEES PAID OR PAYABLE BY YOU TO GOGOGIVIT FOR THE SERVICES DURING THE TERM OF THIS CONTRACT, IF ANY, OR (B) US $1.

        .secondary-heading Governing Law and Dispute Resolution

        p In the unlikely event we end up in a legal dispute, you and GogoGivit agree to resolve it in Colorado courts using Colorado law.

        p For all users, including those who live outside of the United States: You and GogoGivit agree that the laws of the State of Colorado, U.S.A., excluding its conflict of laws rules, shall exclusively govern any dispute relating to this Contract and/or the Services. You and GogoGivit both agree that all claims and disputes can be litigated only in the federal or state courts in El Paso County, Colorado, USA, and you and GogoGivit each agree to personal jurisdiction in those courts.

        .secondary-heading General Terms

        p Here are some important details about the Contract.

        p If a court with authority over this Contract finds any part of it unenforceable, you and we agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and we agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract.

        p This Contract (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.

        p If we don't act to enforce a breach of this Contract, that does not mean that GogoGivit has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your membership or use of Services) to anyone without our consent. However, you agree that GogoGivit may assign this Contract to its affiliates or a party that buys it without your consent. There are no third-party beneficiaries to this Contract.

        p You agree that the only way to provide us legal notice is via our customer service email.
      // /post content