include ../components/soc

mixin footer()
  // footer
  footer.footer
    .container-fluid
      .footer__main
        .footer__main-col.order-last.order-md-first
          .footer__summary
            small.copy Сopyright&copy; 2020 All rights reserved.
            .dev
              a(href="#").dev__link
                img(src="assets/images/dev.png" alt="IT Works")
        .footer__main-col
          +b.NAV.footer__nav
            +e.UL.nav-list
              +e.LI.nav-item
                +e.A.nav-link(href="") Privacy policy
              +e.LI.nav-item
                +e.A.nav-link(href="") Terms and conditions
              +e.LI.nav-item
                +e.A.nav-link(href="") Cookies policy
        .footer__main-col
          +soc('footer__soc')
  // /footer