// ************************
// | Template main colors |
// ************************
// Brand Color Palette
$primary-color: #00b0b3 !default;
$secondary-color: #005f7a !default;
$tertiary-color: tomato !default;

// Useful dark colors
$white: #ffffff !default;
$black: #000000 !default;
$dark: #333333 !default;
$dark--medium: #9a9a9a !default;
$dark--light: #9a9a9a !default;
$dark--thin: #9a9a9a !default;

// Userful gray colors
$gray: #cccccc !default;
$gray--medium: #e6e6e6 !default;
$gray--light: #f7f7f7 !default;
$gray--thin: #fafafa !default;

// ***************
// | Base styles |
// ***************
$body-bg: #fafafa !default;
$layout-max-width: 1110px !default;

$baseZIndex: 3 !default;
$flowZIndex: 11 !default;
$dropdownZIndex: 55 !default;
$dropdownAboveZIndex: 77 !default;
$overlayZIndex: 101 !default;
$overlayAboveZIndex: 111 !default;

// Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xlg: 1200px
);

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$xs--mw: 479px;
$sm--mw: 575px;
$md--mw: 767px;
$lg--mw: 991px;
$xlg--mw: 1199px;

// **************
// | Typography |
// **************
// Base fonts stack
$font-base-weight: 400 !default;
$font-base-stack: Rubik, 'Helvetica', Arial, sans-serif !default;
$font-base-size: 1.8rem !default;
$font-base-color: #526070 !default;
$base-line-height: 1.5 !default;

// Headings
$headings-weight: 400 !default;
$headings-fonts-stack: 'Fredoka One', 'Helvetica', Arial, sans-serif !default;
$headings-color: #333333 !default;
$headings-line-height: 1.1 !default;

// ********************************************
// | Buttons                                  |
// ********************************************
// Btn Base
$btn-color: $dark--medium !default;
$btn-radius: 12rem !default;

// Btn Primary
$btn-primary-color: $white !default;
$btn-primary-bg: $primary-color !default;
$btn-primary-hover: mix($black, $primary-color, 11%) !default;

// Btn Secondary
$btn-secondary-color: $white !default;
$btn-secondary-bg: $secondary-color !default;
$btn-secondary-hover: mix($black, $secondary-color, 11%) !default;

// Btn Tertiary
$btn-tertiary-color: $white !default;
$btn-tertiary-bg: $tertiary-color !default;
$btn-tertiary-hover: mix($black, $tertiary-color, 11%) !default;

// Btn Gray
$btn-gray-bg: #cdcdcd !default;
$btn-gray-color: $white !default;
$btn-gray-hover: mix($black, $btn-gray-bg, 11%) !default;

// Btn Grad
$btn-grad-bg: linear-gradient(to right, #ff5e4a 0%, #ffc544 100%) !default;
$btn-grad-color: $white !default;
$btn-grad-hover: #ff5e4a !default;

// Btn Statusses
$btn-danger-bg: #ff3000 !default;
$btn-danger-color: $white !default;
$btn-danger-hover: mix(black, $btn-danger-bg, 11%) !default;

// Icons
$btn-icon-fill-color: #ffffff !default;

// *********
// | Forms |
// *********
$input-border-color: #e6e6e6;
$input-border-radius: .5rem;
$input-border-color-focus: $primary-color;
$input-focus-shadow: 0 0 1.5rem rgba($primary-color, 0.2);

// **********
// | Header |
// **********


// **********
// | Footer |
// **********


// ************
// | Main Nav |
// ************
$main-nav-font-size: 1.5rem;
$main-nav-text-color: #333333;
$main-nav-bg: $white !default;

$first-level-font-size: 1.5rem !default;
$first-level-text-color: #333333;
$first-level-bg-color: #ffffff !default;

$second-level-font-size: 1.4rem !default;
$second-level-text-color: #333333 !default;
$second-level-bg-color: #ffffff !default;

$tertiary-level-size: 1.4rem !default;
$tertiary-level-text-color: #333333 !default;
$tertiary-level-bg-color: #f5f5f5 !default;

$main-nav-catalog-max-width: 21rem !default;
$main-nav-catalog-height: 60rem !default;