@charset 'UTF-8';

// 1.Abstracts (Configuration and Helpers)
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/variables";

// 2.Vendors
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/lightgallery.js/src/sass/lightgallery.scss";
@import "../../../node_modules/choices.js/src/styles/choices.scss";
@import "../../../node_modules/pikaday/scss/pikaday.scss";

// 2.Vendors-extensions
@import "vendors-extensions/bootstrap";
@import "vendors-extensions/choices.scss";
@import "vendors/nouislider.scss";
@import "vendors/drift-basic.scss";
@import "vendors/simplebar.scss";
@import "vendors/card.scss";

// 3.Base stuff
@import "base/base";      // maybe reset
@import "base/utilities"; // aka helpers
@import "base/fonts";
@import "base/typography";
@import "base/forms";
@import "base/table";
@import "base/animations";
@import "base/print";

// 4.Layout
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/section";
@import "layout/carousels";
@import "layout/error-page";
@import "layout/demo-styleguide";
@import "layout/main-layout";
@import "layout/friends-section";
@import "layout/landing-page";
@import "layout/user-dashboard-section";

// 5.Components
@import "components/buttons";
@import "components/icons";
@import "components/tooltip";
@import "components/soc";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/user-authorized";
@import "components/navbar";
@import "components/forms-area";
@import "components/steps";
@import "components/rate";
@import "components/fast-search";
@import "components/rounded-area";
@import "components/params";
@import "components/product";
@import "components/add-card";
@import "components/create-card";
@import "components/add-friend-form";
@import "components/friend";
@import "components/occasion-table";
@import "components/opinion-carousel";
@import "components/user-dashboard-picture";
@import "components/user-dashboard-tags";
@import "components/user-dashboard-friends";
@import "components/occasion-calendar";
@import "components/countdown";
@import "components/user-info";
@import "components/tabs";
@import "components/rating";

// 6.Pages (page-specific styles)
@import 'pages/forms-page';
@import 'pages/inner-page';
@import 'pages/landing-page';

// 7.Themes
// @import 'themes/default';

.main-heading__body span span {
  color: $primary-color;
}

.error-state {
  @media (min-width: $md) {
    display: flex;
  }

  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;

  &__about {
    margin-bottom: 3rem;

    @media (min-width: $md) {
      margin-bottom: 0;
      max-width: 38rem;
    }
  }

  &__img-wrap {
    @media (min-width: $md) {
      flex: 1;
      margin-top: 3rem;
    }
  }

  @media (min-width: $md) {
    &__heading {
      padding-right: 0;
      padding-left: 4rem;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;

      &::before {
        top: .5rem;
        transform: translate(3rem, 0);
      }

      &__accent {
        display: block;
        padding-left: 3rem;
      }

      &__body {
        &::after {
          top: 100%;
          bottom: auto;
          transform: translate(0, 1.5rem);
        }
      }
    }
  }

  @media (max-width: $md--mw) {
    .main-heading-wrap {
      padding: 0 0 0 3rem;
    }
  }

  @media (max-width: 479px) {
    .main-heading {
      font-size: 1.6rem;
    }
  }

  &__info {
    padding-left: 7rem;
    line-height: 1.2;
    max-width: 28rem;
  }

  &__desc {
    color: #57606f;
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    a {
      color: #0caeb1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.success-state {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $md) {
    &__heading {
      padding-right: 0;
      padding-left: 4rem;
      max-width: 40rem;
      margin: 0;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;
      margin-bottom: 0;

      &::before {
        top: .5rem;
        transform: translate(3rem, 0);
      }

      &__accent {
        display: block;
        padding-left: 3rem;
      }
    }
  }

  @media (max-width: $md--mw) {
    .main-heading-wrap {
      padding: 0 0 0 3rem;
    }
  }

  @media (max-width: 479px) {
    .main-heading {
      font-size: 1.7rem;
    }
  }

  &__img-wrap {
    margin: 0 0 4rem;

    @media (min-width: $md) {
      margin-top: -5rem;
    }
  }

  &__img {
    margin: 0 auto;
  }
}

.promo-features-section {
  position: relative;

  > .row {
    margin-top: -30px;

    > [class*="col-"] {
      padding-top: 30px;
    }
  }
}

.promo-feature {
  background: $white;
  transition: all .3s;
  border-radius: 1rem;
  border: 1px solid #f5f5f5;
  color: #57606f;
  display: flex;
  padding: 2rem 1rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover {
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1);
  }

  &__img-wrap {
    max-width: 22rem;
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include absolute-center;
  }

  &__heading {
    font-size: 2rem;
    font-family: $headings-fonts-stack;
    color: $primary-color;
    text-transform: uppercase;

    &::after {
      content: '· · · · · ·';
      display: block;
      color: #d9d9d9;
    }
  }

  &__desc {
    margin-bottom: 2.5rem;
  }

  &__btn {
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: auto;

    .fa {
      @include absolute-center;
    }
  }
}

.home-subscribe-section {
  position: relative;

  @media (min-width: 840px) {
    padding: 0 8rem;
  }

  @media (min-width: $lg) {
    padding: 0 6rem;
  }
}

.home-subscribe {
  background: #f5f5f5;
  padding: 4rem 3rem;
  border-radius: 2rem;
  max-width: 68rem;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    position: absolute;
    left: -4.5rem;
    top: -3.5rem;
    border: .5rem dotted #e6e6e6;
    z-index: -1;

    @media (min-width: $sm) {
      z-index: auto;
    }
  }

  &::after {
    content: '';
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(40%, 40%);
    z-index: -1;

    background-image: 
    repeating-linear-gradient(-45deg, #e6f7f7 0, #e6f7f7 1.2rem, #ffffff 1.2rem, #ffffff 2.2rem, #e6f7f7 2.2rem, #e6f7f7 3.2rem);
  }

  .main-heading-wrap {
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transform: translateX(-3rem);

    @media (min-width: $sm) {
      transform: none;
    }

    @media (min-width: $md) {
      padding-left: 4rem;
      flex: 0 0 34rem;
      max-width: 34rem;
      transform: none;
    }

    @media (min-width: $lg) {
      min-height: 10rem;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;
      color: $secondary-color;
      margin-bottom: 3rem;

      @media (min-width: $md) {
        margin-bottom: 5.5rem;
      }

      @media (min-width: $lg) {
        margin-bottom: 0;
      }

      &::before {
        background: $secondary-color;
      }

      &::after {
        background: $primary-color;
        top: -.5rem;
      }

      &__body {
        &::after {
          top: 100%;
          bottom: auto;
          transform: translateY(1rem);
          left: 5rem;

          @media (min-width: $md) {
            transform: translateY(2.5rem);
            left: 3.5rem;
          }
        }
      }

      &__accent {
        display: block;
        position: absolute;
        color: $primary-color;
        left: 5rem;
        top: 100%;
        margin-top: -2rem;
        white-space: nowrap;

        @media (min-width: $md) {
          left: 3.5rem;
        }
      }
    }
  }

  &__header {
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 2;

    @media (min-width: $lg) {
      display: flex;
      align-items: center;
      margin-bottom: 3.5rem;
    }
  }

  &__desc {
    font-size: 1.6rem;
  }

  &__form {
    margin: 0 auto;
    max-width: 53rem;
    position: relative;
    z-index: 2;
  }

  &__field {
    position: relative;
  }

  &__input {
    border-radius: 3rem;
    border-color: transparent;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 7rem;
  }

  &__btn {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $white;

      @include absolute-center;
    }
  }
}

.stages-section .stage {
  background: $white;
}

.wrapper__main {
  overflow-x: hidden;
}