@charset 'UTF-8';

// 1.Abstracts (Configuration and Helpers)
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/variables";

// 2.Vendors
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/lightgallery.js/src/sass/lightgallery.scss";
@import "../../../node_modules/choices.js/src/styles/choices.scss";
@import "../../../node_modules/pikaday/scss/pikaday.scss";

// 2.Vendors-extensions
@import "vendors-extensions/bootstrap";
@import "vendors-extensions/choices.scss";
@import "vendors/nouislider.scss";
@import "vendors/drift-basic.scss";
@import "vendors/simplebar.scss";
@import "vendors/card.scss";

// 3.Base stuff
@import "base/base";      // maybe reset
@import "base/utilities"; // aka helpers
@import "base/fonts";
@import "base/typography";
@import "base/forms";
@import "base/table";
@import "base/animations";
@import "base/print";

// 4.Layout
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/section";
@import "layout/carousels";
@import "layout/error-page";
@import "layout/demo-styleguide";
@import "layout/main-layout";
@import "layout/friends-section";
@import "layout/landing-page";
@import "layout/user-dashboard-section";

// 5.Components
@import "components/buttons";
@import "components/icons";
@import "components/tooltip";
@import "components/soc";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/user-authorized";
@import "components/navbar";
@import "components/forms-area";
@import "components/steps";
@import "components/rate";
@import "components/fast-search";
@import "components/rounded-area";
@import "components/params";
@import "components/product";
@import "components/add-card";
@import "components/create-card";
@import "components/add-friend-form";
@import "components/friend";
@import "components/occasion-table";
@import "components/opinion-carousel";
@import "components/user-dashboard-picture";
@import "components/user-dashboard-tags";
@import "components/user-dashboard-friends";
@import "components/occasion-calendar";
@import "components/countdown";
@import "components/user-info";
@import "components/tabs";
@import "components/product-main-gallery";
@import "components/rating";

// 6.Pages (page-specific styles)
@import 'pages/forms-page';
@import 'pages/inner-page';
@import 'pages/landing-page';

// 7.Themes
// @import 'themes/default';

.main-heading__body span span {
  color: $primary-color;
}

.error-state {
  @media (min-width: $md) {
    display: flex;
  }

  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;

  &__about {
    margin-bottom: 3rem;

    @media (min-width: $md) {
      margin-bottom: 0;
      max-width: 38rem;
    }
  }

  &__img-wrap {
    @media (min-width: $md) {
      flex: 1;
      margin-top: 3rem;
    }
  }

  @media (min-width: $md) {
    &__heading {
      padding-right: 0;
      padding-left: 4rem;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;

      &::before {
        top: .5rem;
        transform: translate(3rem, 0);
      }

      &__accent {
        display: block;
        padding-left: 3rem;
      }

      &__body {
        &::after {
          top: 100%;
          bottom: auto;
          transform: translate(0, 1.5rem);
        }
      }
    }
  }

  @media (max-width: $md--mw) {
    .main-heading-wrap {
      padding: 0 0 0 3rem;
    }
  }

  @media (max-width: 479px) {
    .main-heading {
      font-size: 1.6rem;
    }
  }

  &__info {
    padding-left: 7rem;
    line-height: 1.2;
    max-width: 28rem;
  }

  &__desc {
    color: #57606f;
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    a {
      color: #0caeb1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.success-state {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $md) {
    &__heading {
      padding-right: 0;
      padding-left: 4rem;
      max-width: 40rem;
      margin: 0;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;
      margin-bottom: 0;

      &::before {
        top: .5rem;
        transform: translate(3rem, 0);
      }

      &__accent {
        display: block;
        padding-left: 3rem;
      }
    }
  }

  @media (max-width: $md--mw) {
    .main-heading-wrap {
      padding: 0 0 0 3rem;
    }
  }

  @media (max-width: 479px) {
    .main-heading {
      font-size: 1.7rem;
    }
  }

  &__img-wrap {
    margin: 0 0 4rem;

    @media (min-width: $md) {
      margin-top: -5rem;
    }
  }

  &__img {
    margin: 0 auto;
  }
}

.promo-features-section {
  position: relative;

  > .row {
    margin-top: -30px;

    > [class*="col-"] {
      padding-top: 30px;
    }
  }
}

.promo-feature {
  background: $white;
  transition: all .3s;
  border-radius: 1rem;
  border: 1px solid #f5f5f5;
  color: #57606f;
  display: flex;
  padding: 2rem 1rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover {
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1);
  }

  &__img-wrap {
    max-width: 22rem;
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include absolute-center;
  }

  &__heading {
    font-size: 2rem;
    font-family: $headings-fonts-stack;
    color: $primary-color;
    text-transform: uppercase;

    &::after {
      content: '· · · · · ·';
      display: block;
      color: #d9d9d9;
    }
  }

  &__desc {
    margin-bottom: 2.5rem;
  }

  &__btn {
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-top: auto;

    .fa {
      @include absolute-center;
    }
  }
}

.home-subscribe-section {
  position: relative;

  @media (min-width: 840px) {
    padding: 0 8rem;
  }

  @media (min-width: $lg) {
    padding: 0 6rem;
  }
}

.home-subscribe {
  background: #f5f5f5;
  padding: 4rem 3rem;
  border-radius: 2rem;
  max-width: 68rem;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    position: absolute;
    left: -4.5rem;
    top: -3.5rem;
    border: .5rem dotted #e6e6e6;
    z-index: -1;

    @media (min-width: $sm) {
      z-index: auto;
    }
  }

  &::after {
    content: '';
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(40%, 40%);
    z-index: -1;

    background-image: 
    repeating-linear-gradient(-45deg, #e6f7f7 0, #e6f7f7 1.2rem, #ffffff 1.2rem, #ffffff 2.2rem, #e6f7f7 2.2rem, #e6f7f7 3.2rem);
  }

  .main-heading-wrap {
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transform: translateX(-3rem);

    @media (min-width: $sm) {
      transform: none;
    }

    @media (min-width: $md) {
      padding-left: 4rem;
      flex: 0 0 34rem;
      max-width: 34rem;
      transform: none;
    }

    @media (min-width: $lg) {
      min-height: 10rem;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;
      color: $secondary-color;
      margin-bottom: 3rem;

      @media (min-width: $md) {
        margin-bottom: 5.5rem;
      }

      @media (min-width: $lg) {
        margin-bottom: 0;
      }

      &::before {
        background: $secondary-color;
      }

      &::after {
        background: $primary-color;
        top: -.5rem;
      }

      &__body {
        &::after {
          top: 100%;
          bottom: auto;
          transform: translateY(1rem);
          left: 5rem;

          @media (min-width: $md) {
            transform: translateY(2.5rem);
            left: 3.5rem;
          }
        }
      }

      &__accent {
        display: block;
        position: absolute;
        color: $primary-color;
        left: 5rem;
        top: 100%;
        margin-top: -2rem;
        white-space: nowrap;

        @media (min-width: $md) {
          left: 3.5rem;
        }
      }
    }
  }

  &__header {
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 2;

    @media (min-width: $lg) {
      display: flex;
      align-items: center;
      margin-bottom: 3.5rem;
    }
  }

  &__desc {
    font-size: 1.6rem;
  }

  &__form {
    margin: 0 auto;
    max-width: 53rem;
    position: relative;
    z-index: 2;
  }

  &__field {
    position: relative;
  }

  &__input {
    border-radius: 3rem;
    border-color: transparent;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 7rem;
  }

  &__btn {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $white;

      @include absolute-center;
    }
  }
}

.stages-section .stage {
  background: $white;
}

.wrapper__main {
  overflow-x: hidden;
}


.gift-finder-hero {
  $self: &;

  padding: 4rem 2.5rem;
  background: url('../images/finder-hero-bg.jpg') no-repeat center / cover;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin: 0 0 5rem;
  flex-wrap: wrap;
  text-align: center;

  &__col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1.5rem;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    @media (min-width: $md) {
      flex: 0 0 33.333%;
      max-width: 33.333%;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &:first-child {
      align-self: stretch;

      @media (min-width: $md) {
        padding-right: 5rem;
      }
    }

    @media (min-width: $sm) and (max-width: 767px) {
      &:nth-child(2),
      &:nth-child(3) {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0;
      }
    }
  }

  &__img-wrap {
    position: relative;
    height: 100%;
    max-width: 24rem;
    margin: 0 auto;

    @media (min-width: $md) {
      max-width: none;
      margin: 0;
    }

    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }
  }

  &__img {
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    max-width: 100%;
  }

  &__heading {
    transform: translateY(-10%);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;

    .fa {
      margin-left: 1rem;
      font-size: 1.6rem;
    }
  }

  &--inner {
    #{$self}__col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 1.5rem;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      &:first-child {
        align-self: stretch;

        @media (min-width: $md) {
          padding-right: 5rem;
        }
      }

      @media (min-width: $sm) {
        flex: 0 0 50%;
        max-width: 50%;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      @media (min-width: $md) {
        flex: 1;
        max-width: none;

        &:first-child {
          flex: 0 0 33.333%;
          max-width: 33.333%;
        }

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }

    #{$self}__img-wrap {
      @media (min-width: $xlg) {
        &:first-child {
          transform: translateX(30%);
        }
      }
    }
  }
}

.heading-promo {
  color: $white;
  font-size: 5rem;
  font-family: $headings-fonts-stack;
  text-transform: uppercase;
  line-height: 1;
  max-width: 27rem;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width: $lg) {
    font-size: 6rem;
    max-width: 32rem;
  }

  &::before {
    content: '';
    width: 11rem;
    height: 11rem;
    background: $secondary-color;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: translate(-35%, 12%);
    z-index: -1;
  }

  &::after {
    content: '';
    width: 8rem;
    border-bottom: .5rem dotted $white;
    transform: translateY(1rem);
    position: absolute;
    top: 100%;
    left: 0;
  }

  &__sm {
    font-size: 2rem;
    color: $white;
    position: relative;

    &::after {
      content: '';
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      left: 100%;
      bottom: 100%;
      background: #fcb54f;
      border-radius: 50%;
      transform: translate(200%, 30%);
    }
  }
}

.event-card {
  $self: &;

  display: block;
  text-align: center;
  border: .1rem solid #f5f5f5;
  border-radius: 1rem;
  position: relative;

  @media (min-width: $xlg) {
    height: 26rem;
    overflow: hidden;

    #{$self}__main {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 2;
    }

    &:hover {
      overflow: visible;
      z-index: 3;
    }
  }

  &:hover {
    #{$self}__heading {
      color: #fcb54f;
    }

    #{$self}__main {
      box-shadow: 0 0 4rem 0 rgba($black, 0.1);
      transform: scale(1.05);
    }
  }

  &__main {
    margin: 0;
    padding: 2rem;
    transition: all .3s;
    border-radius: inherit;
    background: $white;
  }

  &__img-wrap {
    max-width: 16.5rem;
    margin: 0 auto 2rem;
    position: relative;
    width: 100%;
    border: .7rem solid $white;
    border-radius: 50%;

    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }

    &::after {
      content: '';
      border: .2rem dashed #e6e6e6;
      position: absolute;
      left: -.7rem;
      top: -.7rem;
      right: -.7rem;
      bottom: -.7rem;
      border-radius: 50%;
      z-index: 2;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    // padding: .5rem;
    border-radius: 50%;

    backface-visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
  }

  &__heading {
    transition: all .3s;
    font-size: 1.8rem;
    font-family: $headings-fonts-stack;
    text-transform: uppercase;
    color: $primary-color;
    line-height: 1.1;
    margin-bottom: 2rem;
    min-height: 4rem;

    @include trim(2);
  }

  &__btn {
    padding: 0;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: relative;
    font-size: 1.6rem;

    .fa {
      @include absolute-center;
    }
  }

  &--child {
    @media (min-width: $xlg) {
      height: 15.5rem;
    }

    #{$self}__img-wrap {
      background: $primary-color;
    }

    #{$self}__img {
      object-fit: contain;
      width: 60%;
      height: 60%;
      border-radius: 0;
    }

    #{$self}__main {
      padding: 1rem;
    }

    #{$self}__heading {
      font-size: 1.6rem;
      color: #1a5f78;
      margin-bottom: 1.5rem;
      text-transform: none;
      min-height: 0;

      @include trim();
    }

    #{$self}__btn {
      font-size: 1.2rem;
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

.finder-events-section {
  margin-bottom: 3rem;

  .main-heading-wrap {
    margin-bottom: 3.5rem;
  }

  .main-heading {
    color: #005f7a;
  }

  .main-heading::before {
    background: #005f7a;
  }

  .main-heading::after {
    background: $primary-color;
  }
}

.finder-events {
  .row {
    margin-top: -30px;

    > [class*="col-"] {
      margin-top: 30px;

      @media (max-width: 379px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.gift-children-section {
  margin-bottom: 3rem;

  .main-heading-wrap {
    margin-bottom: 3.5rem;

    @media (max-width: 380px) {
      padding-right: 0 !important;
    }
  }

  .main-heading {
    line-height: .9;

    @media (max-width: 380px) {
      max-width: none !important;
    }
  }

  .main-heading__accent {
    display: block;
    text-indent: 2rem;
  }

  .main-heading::before {
    top: 0;
    transform: translate(3rem, -0%);
  }

  .main-heading::after {
    top: -1rem;
  }
}

.gift-children-categories {
  margin-top: -2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
    margin-top: 2rem;

    @media (min-width: 400px) {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }

    @media (min-width: $sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    @media (min-width: $md) {
      flex: 0 0 20%;
      max-width: 20%;
    }

    @media (min-width: $lg) {
      flex: 0 0 14.2857%;
      max-width: 14.2857%;
    }

    &:nth-child(1) {
      .event-card__img-wrap {
        background: #fcb54f;
      }
    }

    &:nth-child(2) {
      .event-card__img-wrap {
        background: #f9a24e;
      }
    }

    &:nth-child(3) {
      .event-card__img-wrap {
        background: #f16b4d;
      }
    }

    &:nth-child(4) {
      .event-card__img-wrap {
        background: #0caeb1;
      }
    }

    &:nth-child(5) {
      .event-card__img-wrap {
        background: #1198a1;
      }
    }

    &:nth-child(6) {
      .event-card__img-wrap {
        background: #377e98;
      }
    }

    &:nth-child(7) {
      .event-card__img-wrap {
        background: #1a5f78;
      }
    }
  }
}

.subscribe-widget-section {
  background: #f5f5f5;
  // padding: 16rem 0 5rem;
  // margin-top: -11rem;
  // z-index: -1;
  position: relative;
  padding: 3rem 0 4rem;

  @media (min-width: $md) {
    padding: 5rem 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 11rem;
    z-index: -1;
    background: inherit;
  }

  .main-heading-wrap {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transform: translateX(-3rem);

    @media (min-width: $sm) {
      text-align: center;
    }

    @media (min-width: $md) {
      padding-left: 4rem;
      flex: 0 0 34rem;
      max-width: 34rem;
      transform: none;
      text-align: left;
    }

    @media (min-width: $lg) {
      min-height: 10rem;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;
      color: $secondary-color;
      margin-bottom: 3rem;

      @media (min-width: $md) {
        margin-bottom: 5.5rem;
      }

      @media (min-width: $lg) {
        margin-bottom: 0;
      }

      &::before {
        background: $secondary-color;
      }

      &::after {
        background: $primary-color;
        top: -.5rem;
      }

      &__body {
        &::after {
          top: 100%;
          bottom: auto;
          transform: translateY(1rem);
          left: 5rem;

          @media (min-width: $md) {
            transform: translateY(2.5rem);
            left: 3.5rem;
          }
        }
      }

      &__accent {
        display: block;
        position: absolute;
        color: $primary-color;
        left: 5rem;
        top: 100%;
        margin-top: -2rem;
        white-space: nowrap;

        @media (min-width: $md) {
          left: 3.5rem;
        }
      }
    }
  }
}

.subscribe-widget {
  display: flex;
  margin: 0 -1.5rem;
  align-items: center;
  flex-wrap: wrap;

  &__col {
    padding: 0 1.5rem;
    flex: 0 0 100%;
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @media (min-width: $md) {
      flex: 0 0 50%;
      max-width: 50%;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &.col-xl-5 {
      @media (min-width: $xlg) {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
      }
    }

    &.col-xl-7 {
      @media (min-width: $xlg) {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
      }
    }
  }

  &__form {
    max-width: 53rem;
    margin: 0 auto;
  }

  &__desc {
    text-align: center;
    max-width: 47rem;
    color: #57606f;
    margin: 1.5rem auto 0;
    font-size: 1.6rem;;
  }
}

.subscribe-form {
  &__form {
    margin: 0 auto;
    max-width: 53rem;
    position: relative;
    z-index: 2;
  }

  &__field {
    position: relative;
  }

  &__input {
    border-radius: 3rem;
    border-color: transparent;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 7rem;

    @media (min-width: $xlg) {
      padding-left: 3rem;
    }
  }

  &__btn {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);

    .icon {
      width: 2.2rem;
      height: 2.2rem;
      fill: $white;

      @include absolute-center;
    }
  }
}

.footer-invite {
  padding: 5rem 0;
  text-align: center;

  @media (min-width: $md) {
    text-align: left;
  }

  &__body {
    padding: 0 3rem;

    @media (min-width: $xlg) {
      padding: 0 6.5rem;
    }
  }

  &__heading {
    line-height: 1;
    font-family: $headings-fonts-stack;
    font-size: 4.2rem;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    color: $secondary-color;

    @media (min-width: $md) {
      font-size: 6rem;
    }

    span {
      display: block;
      color: $primary-color;
    }
  }

  &__desc {
    color: #57606f;
    font-size: 1.6rem;
    margin: 0 auto 3.5rem;
    max-width: 30rem;

    @media (min-width: $md) {
      margin: 0 0 3.5rem;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  & + .footer {
    margin-top: 0;
  }
}

.finder-categories-section {
  margin-bottom: 3.5rem;

  [class*="col"]:not(:last-child) {
    margin-bottom: 3rem;

    @media (min-width: $sm) {
      margin-bottom: 0;
    }
  }
}

.finder-category {
  $self: &;

  // overflow: hidden;
  height: 20rem;
  position: relative;
  display: block;

  &__main {
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 3rem 6rem;
    align-items: center;
    background: $primary-color;
    border-radius: 1rem;
    height: 100%;
  }

  &__col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1.5rem;

    @media (min-width: 480px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__heading-wrap {
    position: relative;
    margin-top: 1rem;
    z-index: 3;

    &::before {
      pointer-events: none;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      transition: all .3s;
    }
  }

  &__heading {
    color: $white;
    text-transform: uppercase;
    font-family: $headings-fonts-stack;
    font-size: 3rem;
    line-height: 1;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: $lg) {
      font-size: 4rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      max-width: 8.5rem;
      border-top: .5rem dotted #fff;
      width: 100%;
      height: 0;
    }

    &::before {
      content: '';
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background: #f16b4d;
      position: absolute;
      bottom: 100%;
      left: 0;
      transform: translate(5.5rem, 0);
    }

    span {
      display: block;
    }
  }

  &--woman {
    @media (min-width: 480px) {
      &::after {
        content: '';
        width: 50%;
        top: -1.8rem;
        background: url('../images/woman-finder-gift.png') no-repeat center right / contain;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 3;
      }
    }

    @media (min-width: $sm) and (max-width: 767px) {
      &::after {
        display: none;
      }
    }

    @media (min-width: $md) and (max-width: 991px) {
      &::after {
        width: 60%;
      }
    }

    &:hover {
      #{$self}__main {
        &::before {
          transform: translate(-50%, -50%) scale(1.15);
        }
      }

      #{$self}__heading-wrap {
        &::before {
          transform: translate(-4.5rem, -3rem) scale(1.1);
        }
      }
    }

    #{$self}__main {
      background: #fcb54f;

      &::before {
        content: "";
        width: 18rem;
        height: 18rem;
        background-image: repeating-linear-gradient(-45deg, #f9a04e 0, #f9a04e 1.2rem, transparent 1.2rem, transparent 2.2rem, #f9a04e 2.2rem, #f9a04e 3.2rem);
        border-radius: 50%;
        left: 50%;
        top: 0;
        position: absolute;
        z-index: 3;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: all .5s;
      }
    }

    #{$self}__heading-wrap {
      &::before {
        width: 120px;
        height: 190px;
        background: url('../images/woman-sym.png') no-repeat center / contain;
        transform: translate(-4.5rem, -3rem);
      }
    }
  }

  &--man {
    @media (min-width: 480px) {
      &::after {
        content: '';
        width: 50%;
        top: -1.5rem;
        background: url('../images/man-finder-gift.png') no-repeat center right / contain;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 3;
      }
    }

    @media (min-width: $sm) and (max-width: 767px) {
      &::after {
        display: none;
      }
    }

    @media (min-width: $md) and (max-width: 991px) {
      &::after {
        width: 60%;
      }
    }

    &:hover {
      #{$self}__main {
        &::before {
          transform: translate(-50%, 50%) scale(1.15);
        }
      }
      
      #{$self}__heading-wrap {
        &::before {
          transform: translate(-4.5rem, -7rem) scale(1.1);
        }
      }
    }

    #{$self}__main {
      background: #0caeb1;

      &::before {
        content: "";
        width: 18rem;
        height: 18rem;
        background-image: repeating-linear-gradient(-45deg, #1096a0 0, #1096a0 1.2rem, transparent 1.2rem, transparent 2.2rem, #1096a0 2.2rem, #1096a0 3.2rem);
        border-radius: 50%;
        left: 50%;
        bottom: 0;
        position: absolute;
        z-index: 3;
        transform: translate(-50%, 50%);
        pointer-events: none;
        transition: all .5s;
      }
    }

    #{$self}__heading-wrap {
      &::before {
        width: 162px;
        height: 162px;
        left: 0;
        background: url('../images/man-sym.png') no-repeat center / contain;
        transform: translate(-4.5rem, -7rem);
      }
    }
  }
}

.gifts-section {
  margin-bottom: 3rem;

  &:nth-child(1),
  &:nth-child(3) {
    .main-heading::before {
      background: #005f7a;
    }
  }

  .main-heading-wrap {
    margin-bottom: 3.5rem;
    text-align: left;

    @media (max-width: 380px) {
      padding-right: 0 !important;
    }
  }

  .main-heading {
    line-height: .9;
    color: #005f7a;

    &::after {
      background: #00b0b3;
    }

    @media (max-width: 380px) {
      max-width: none !important;
    }
  }

  .main-heading__accent {
    display: block;
    text-indent: 2rem;
    color: #00b0b3;
  }

  .main-heading::before {
    top: 0;
    transform: translate(3rem, -0%);
  }

  .main-heading::after {
    top: -1rem;
  }
}

.product-detail {
  margin-bottom: 3rem;
}

.reviews-section {
  margin-bottom: 3rem;

  .main-heading {
    color: #005f7a;

    &::before {
      background: #005f7a;
    }

    &::after {
      background: #00b0b3;
      top: -1rem;
    }
  }
}

.product-info {
  background: #fafafa;
  padding: 2rem;
  border-radius: 1.5rem;

  &__row {
    display: flex;
    margin: 0 -1.5rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &__col {
    padding: 0 1.5rem;
    flex: 0 0 100%;
    max-width: 100%;

    @media (min-width: $sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @media (min-width: $sm) {
        margin-bottom: 0;
      }
    }
  }

  &__price {
    font-size: 3rem;
    color: $primary-color;
    font-family: $headings-fonts-stack;
    line-height: 1;
    margin-bottom: .5rem;
  }

  &__rate {
    margin-bottom: .7rem;

    .rate__icon {
      &:not(:first-child) {
        margin-left: -.2rem;
      }
    }

    .rate__stars-active {
      color: #f6914e;
    }
  }

  &__brand {
    height: 2rem;

    &-img {
      max-height: 100%;
      width: auto;
      display: block;
      image-rendering: -webkit-optimize-contrast;
    }
  }

  &__btn {
    font-size: 16px;
    font-weight: 500;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.gift-section-carousel {
  position: relative;

  .swiper-slide {
    height: auto;
  }

  &__button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: .2rem solid $primary-color;
    border-radius: 50%;
    transition: all .3s;
    color: $primary-color;
    background: $white;
    z-index: 2;

    top: 50%;
    transform: translate(0, -50%);

    &:hover {
      background: $primary-color;
      color: $white;
    }

    &-icon {
      fill: currentColor;
      width: 1.5rem;
      height: 1.5rem;

      @include absolute-center;
    }
  }
  
  &__prev {
    left: -2rem;

    @media (min-width: $md) {
      left: -8.5rem;
    }
  }

  &__next {
    right: -2rem;

    @media (min-width: $md) {
      right: -8.5rem;
    }
  }
}

.gift-product {
  border-radius: 1.5rem;
  border: .1rem solid #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__main {
    padding: 3rem 1.5rem;
  }

  &__footer {
    border-radius: 0 0 1.5rem 1.5rem;
    margin-top: auto;
  }

  &__header {
    text-align: center;
    padding-bottom: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
    line-height: 1.25;

    @media (min-width: $md) {
      margin-bottom: 2.5rem;
    }

    &::after {
      content: "";
      width: 8rem;
      border-bottom: 4px dotted #dadada;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  &__heading {
    font-size: 1.8rem;
    color: $secondary-color;
    font-family: $headings-fonts-stack;

    &-link {
      color: $secondary-color;
      transition: all .3s;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__body {
    color: #57606f;
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
  }

  &__preview {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 2.5rem;

    @media (min-width: 480px) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 0;
    }

    &-img-wrap {
      max-width: 36rem;
      display: block;
      margin: 0 auto;

      @media (min-width: 480px) {
        max-width: none;
      }
    }

    &-img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  &__about {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;

    @media (min-width: 480px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__subheading {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  &__desc {
    font-size: 1.4rem;
    margin: 0;
  }
}

.product-detail {
  &__header {
    margin-bottom: 2.5rem;
    padding-bottom: 3rem;
    position: relative;

    &::after {
      content: "";
      width: 8rem;
      border-bottom: 4px dotted #dadada;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 11.5rem;
      bottom: 2px;
      border-top: 1px solid #f5f5f5;
      right: 0;
    }
  }

  &__heading {
    margin-bottom: 1rem;
    line-height: 1.15;
    color: $secondary-color;
    font-family: $headings-fonts-stack;
    font-size: 2.5rem;
    text-align: left;
  }

  &__rate {
    margin: 0;

    .rate__icon {
      &:not(:first-child) {
        margin-left: -.2rem;
      }
    }

    .rate__stars-active {
      color: #f6914e;
    }
  }

  &__main {
    display: flex;
    margin: 0 -1.5rem;
    flex-wrap: wrap;

    > * {
      padding: 0 1.5rem;
      flex: 0 0 100%;
      max-width: 100%;

      @media (min-width: $md) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  &__gallery {
    margin-bottom: 2.5rem;

    @include media($md) {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__about {
    color: #57606f;
    margin-bottom: 3rem;
    line-height: 1.35;
  }

  &__subheading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &__params {
    line-height: 1.5;
    font-size: 1.4rem;
  }

  &__param {
    position: relative;
    padding-left: 1rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &::before {
      content: '·';
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__footer {
    margin-top: auto;
  }
}

.reviews-section .main-heading-wrap {
  margin-bottom: 3.5rem;
}

.reviews {
  &__review {
    &:not(:last-child) {
      border-bottom: 1px solid #f5f5f5;
      padding-bottom: 3.5rem;
      margin-bottom: 3.5rem;
    }
  }
}

.review {
  &__header {
    margin-bottom: 2.5rem;
    line-height: 1.1;
  }

  &__user {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;

    &-avatar {
      flex: 0 0 3.5rem;
      max-width: 3.5rem;
      height: 3.5rem;
      position: relative;
      margin-right: 2rem;
      border-radius: 50%;
      overflow: hidden;
      background: #ccc;

      &-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        image-rendering: -webkit-optimize-contrast;
      }
    }

    &-name {
      color: #57606f;
      font-size: 1.6rem;
    }
  }

  &__rating {
    margin-bottom: 1rem;

    &-main {
      display: flex;
      align-items: center;
    }

    &-stars {
      margin-right: 2rem;
    }

    &-heading {
      color: #57606f;
      font-size: 1.6rem;
      font-weight: bold;
    }

    &-location {
      color: $gray;
      font-size: 1.2rem;
    }
  }

  &__status {
    color: #0caeb1;
    font-size: 1.2rem;
  }

  &__info {
    color: #57606f;
    font-size: 1.4rem;
  }

  &__desc {
    margin: 0;
  }

  &__main {
    display: flex;
    margin: 0 -1.5rem;
    flex-wrap: wrap;
  }

  &__gallery {
    flex: 0 0 100%;
    max-width: 100%;
    order: 1;

    @include media($md) {
      order: 0;
      flex: 0 0 40%;
      max-width: 40%;
    }
  }

  &__info {
    padding: 0 1.5rem;
    flex: 1;
    margin-bottom: 2.5rem;

    @include media($md) {
      margin-bottom: 0;
    }
  }

  .product-main-gallery {
    &__img-wrap {
      height: 25rem;
    }

    &__main {
      border: none;
    }

    &__thumbs {
      max-width: 50rem;
      margin: 0 auto;
    }

    &__thumb {
      border: none;
      border-radius: 0;
    }
  }
}
