@charset 'UTF-8';

// 1.Abstracts (Configuration and Helpers)
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/variables";

// 2.Vendors
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/lightgallery.js/src/sass/lightgallery.scss";
@import "../../../node_modules/choices.js/src/styles/choices.scss";
@import "../../../node_modules/pikaday/scss/pikaday.scss";

// 2.Vendors-extensions
@import "vendors-extensions/bootstrap";
@import "vendors-extensions/choices.scss";
@import "vendors/nouislider.scss";
@import "vendors/drift-basic.scss";
@import "vendors/simplebar.scss";
@import "vendors/card.scss";

// 3.Base stuff
@import "base/base";      // maybe reset
@import "base/utilities"; // aka helpers
@import "base/fonts";
@import "base/typography";
@import "base/forms";
@import "base/table";
@import "base/animations";
@import "base/print";

// 4.Layout
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/section";
@import "layout/carousels";
@import "layout/error-page";
@import "layout/demo-styleguide";
@import "layout/main-layout";
@import "layout/friends-section";
@import "layout/landing-page";
@import "layout/user-dashboard-section";

// 5.Components
@import "components/buttons";
@import "components/icons";
@import "components/tooltip";
@import "components/soc";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/user-authorized";
@import "components/navbar";
@import "components/forms-area";
@import "components/steps";
@import "components/rate";
@import "components/fast-search";
@import "components/rounded-area";
@import "components/params";
@import "components/product";
@import "components/add-card";
@import "components/create-card";
@import "components/add-friend-form";
@import "components/friend";
@import "components/occasion-table";
@import "components/opinion-carousel";
@import "components/user-dashboard-picture";
@import "components/user-dashboard-tags";
@import "components/user-dashboard-friends";
@import "components/occasion-calendar";
@import "components/countdown";
@import "components/user-info";
@import "components/tabs";
@import "components/rating";

// 6.Pages (page-specific styles)
@import 'pages/forms-page';
@import 'pages/inner-page';
@import 'pages/landing-page';

// 7.Themes
// @import 'themes/default';

.main-heading__body span span {
  color: $primary-color;
}

.error-state {
  @media (min-width: $md) {
    display: flex;
  }

  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;

  &__about {
    margin-bottom: 3rem;

    @media (min-width: $md) {
      margin-bottom: 0;
      max-width: 38rem;
    }
  }

  &__img-wrap {
    @media (min-width: $md) {
      flex: 1;
      margin-top: 3rem;
    }
  }

  @media (min-width: $md) {
    &__heading {
      padding-right: 0;
      padding-left: 4rem;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;

      &::before {
        top: .5rem;
        transform: translate(3rem, 0);
      }

      &__accent {
        display: block;
        padding-left: 3rem;
      }

      &__body {
        &::after {
          top: 100%;
          bottom: auto;
          transform: translate(0, 1.5rem);
        }
      }
    }
  }

  @media (max-width: $md--mw) {
    .main-heading-wrap {
      padding: 0 0 0 3rem;
    }
  }

  @media (max-width: 479px) {
    .main-heading {
      font-size: 1.6rem;
    }
  }

  &__info {
    padding-left: 7rem;
    line-height: 1.2;
    max-width: 28rem;
  }

  &__desc {
    color: #57606f;
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    a {
      color: #0caeb1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.success-state {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $md) {
    &__heading {
      padding-right: 0;
      padding-left: 4rem;
      max-width: 40rem;
      margin: 0;
    }

    .main-heading {
      line-height: 1;
      white-space: normal;
      margin-bottom: 0;

      &::before {
        top: .5rem;
        transform: translate(3rem, 0);
      }

      &__accent {
        display: block;
        padding-left: 3rem;
      }
    }
  }

  @media (max-width: $md--mw) {
    .main-heading-wrap {
      padding: 0 0 0 3rem;
    }
  }

  @media (max-width: 479px) {
    .main-heading {
      font-size: 1.7rem;
    }
  }

  &__img-wrap {
    margin: 0 0 4rem;

    @media (min-width: $md) {
      margin-top: -5rem;
    }
  }

  &__img {
    margin: 0 auto;
  }
}
